
/*import af fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Indsætter farvevariaber fra VMR Gypsyjazzs farvepalette*/
:root{
    --baggrund: #201E1C;
    --titel: #205ADB;
    --knap: #A88362;
    --boks: #E8E4E0;
}

/*Overskriver de padding/margin indstillinger diverse browsere har)*/
* {
    padding: 0; 
    margin: 0;
}

/*gør "scroll" bevægelse smooth, ved*/
html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--baggrund);
}

/*Styling af tekst*/
h1 {
    font-family: 'playfair display', 'sans-serif';
    font-weight: 900;
    color: var(--titel);
}

h2 {
    color: var(--titel);
}

h3{
    color: var(--knap);
}

h4{
    color: var(--knap);
}

p {
    font-family: 'montserrat', 'sans-serif';
    font-weight: 400;
    color: var(--baggrund);
}

.lystekst {
    color: var(--boks);
}

footer p {
    color: var(--knap);
}


nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav button {
    color: var(--knap);
    background-color: #201E1C;
    border: none;
    text-decoration: none;
    font-weight: 900;
    font-family: playfair display;
    
}


/*Styling af grafiske elementer*/

hr {
    color: var(--knap);
}

#contact-icon {
    color: var(--titel);
}

#brown-icon {
    color: var(--knap);
}

.overlay-img {
    position: absolute;
}

/*styling af containere*/

header {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    position: relative;
}

.tekstboks {
    background-color: var(--boks);
}

footer {
    background-color: var(--boks);
}

/*styling af knapper*/
/*"scroll til toppen" knap*/
#scroll-up {
    background-color: var(--baggrund);
    border: none;
    padding: 26px;
}

/*"download" knap*/
#dl-knap {
    background-color: var(--knap);
    color: var(--baggrund);
    font-family: playfair display;
    font-weight: 900;
    border: none;
}




/*Media queries til mobilformat*/

@media screen and (max-width:400px) {

   /*styling af tekst*/
    h1 {
        font-size: 23px;
        text-align: center;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 14px;
        margin-top: 20px;
    }

    #bio-titel {
        margin-top: 120px;
    }

    p {
        font-size: 16px;
    }

    .lystekst {
        margin: 26px;
    }

    #kontakt p{
        text-align: center;
    }

    footer p {
        margin-bottom: 40px;
    }

    nav button {
        font-size: 12px;
    }

    /*styling af containere*/
    nav ul {
        margin: 26px;
        justify-content: space-evenly;
    }

    section {
        width: 100%;
        margin-bottom: 52px;

        /*blanding af flex direction og flex wrap*/
        flex-flow: row wrap;
        
        /*placere alt indhold i section i midten*/
        justify-content: center;

    }

    .tekstboks {
        border-radius: 6px;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 40px;
        padding-bottom: 60px;
        margin-left: 26px;
        margin-right: 26px;
        margin-top: 52px;
    }

    footer {
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 40px;
        padding-bottom: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    /*styling af grafiske elementer*/
    hr {
        
        border-style: solid;
        border-width: 0 0 2px 0;
        margin-top: 8px;
        margin-bottom: 26px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #play-hr{
        width: 80px;
        margin-top: 30px;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
    }

    #contact-icon {
        font-size: 22.82px;
        margin: 30px;
    }

    #brown-icon {
        font-size: 26.16px;
        margin-top: 16px;
    }

    /*Styling af knapper*/

    /*download knap*/
    #dl-knap {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-bottom: 26px;
    }

    #dl-knap i {
        margin-right: 10px;
    }

    /*tilpasser størrelse på alle sidens billeder*/
  
    #logoimg {
        width: 80%;
        margin-bottom: 30px;

        /*midlertidig løsning*/
        margin-left: 40px;
    }

    #guitar {
        width: 87%;
    }

    #portræt {
        width: 205px;
        float: inline-start;
    }

    #portræt2 {
        width: 100%;
    }

    #logo {
        width: 70px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
}




/*Media queries til desktopformat*/

@media screen and (min-width:768px){
   
     /*styling af tekst*/
     h1 {
       font-size: 50px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 14px;
        margin-top: 20px;
    }

    #bio-titel {
        margin-top: 120px;
    }

    p {
        font-size: 16px;
    }

    .lystekst {
        margin: 140px;
    }

    #kontakt p{
        text-align: center;
    }

    footer p {
        margin-bottom: 40px;
    }

    nav button {
        font-size: 12px;
    }

    /*styling af containere*/
    nav ul {
        margin: 26px;
        justify-content: space-evenly;
    }

    section {
        width: 100%;
        margin-bottom: 52px;

        /*blanding af flex direction og flex wrap*/
        flex-flow: row wrap;
        
        /*placere alt indhold i section i midten*/
        justify-content: center;

    }

    .tekstboks {
        border-radius: 6px;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 40px;
        padding-bottom: 60px;
        margin-left: 140px;
        margin-right: 140px;
        margin-top: 52px;
    }

    footer {
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 40px;
        padding-bottom: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    /*styling af grafiske elementer*/
    hr {
        
        border-style: solid;
        border-width: 0 0 2px 0;
        margin-top: 8px;
        margin-bottom: 26px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #play-hr{
        width: 80px;
        margin-top: 30px;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
    }

    #contact-icon {
        font-size: 22.82px;
        margin: 30px;
    }

    #brown-icon {
        font-size: 26.16px;
        margin-top: 16px;
    }

    /*Styling af knapper*/

    /*download knap*/
    #dl-knap {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-bottom: 26px;
    }

    #dl-knap i {
        margin-right: 10px;
    }

    /*tilpasser størrelse på alle sidens billeder*/
  
    #logoimg {
        width: 80%;
        margin-bottom: 30px;

        /*midlertidig løsning*/
        margin-left: 40px;
    }

    #guitar {
        width: 87%;
    }

    #portræt {
        width: 205px;
        float: inline-start;
    }

    #portræt2 {
        width: 100%;
    }

    #logo {
        width: 70px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
}